body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.row {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.left-container {
    display: flex;
    height: 100vh;
    flex: 0 0 40%;
    background-image: linear-gradient(140deg, #2733C4 0%, #9F19D1);
    position: relative;
}

.left-container::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./resources/Layer\ 2\ jpeg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fontawesome {
    color: #fff;
    background-color: #fff;
}

.right-container {
    background: black;
    flex: 1;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.right-container .column {
    width: 50%;
    display: flex;
    justify-content: center;
}

.left-container .column {
    padding: 2rem;
}

.left-container .column .image-wrap {
    width: 6rem;
    height: 2rem;
}

.left-container .column .image-wrap .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form .email-form input {
    width: 100%;
}

.vectorContainer {
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    display: flex;
    object-fit: contain;
    text-indent: 100px;
    margin-left: 70px;
}

.wrap-right {
    width: 60%;
    display: flex;
    justify-content: left;
    background-color: #020717;
}

.floatright {
    float: right;
    background-color: #020717;
    height: 100vh;
    width: 60%;
}

 :root {
    --pri-color: #2833C4;
    --body-bg-left: #2833C4;
    --body-bg-right: #020717;
}

a {
    text-decoration: none;
}

span {
    color: #2733C4;
    color: #fff;
}


/* .nav-btn-btn {
    color: #fff;
    justify-self: right;
    justify-content: right;
    text-align: right; */

.logo {
    justify-self: end;
}

.contact-form {
    color: #fff;
    align-self: center;
}

input {
    background: transparent;
    position: relative;
    border: 1px solid #808080;
    border-radius: 8px;
    height: 50px;
}

.email-form {
    color: #fff;
    border-color: #808080;
    text-align: left;
    padding-left: 8px;
    font-size: 9px;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    /* text-indent: 3rem; */
}

.email-form .fa-regular {
    text-indent: 3rem;
}

.login1 {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.btn-btn {
    margin-left: 5px;
    color: #ffffff;
    width: 140px;
    background-color: #0065FF;
    text-align: center;
}

.signup {
    color: #808080;
}

.span1 {
    color: #0065FF;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.fa-regular {
    position: absolute;
    top: 3.4rem;
    left: -1.7rem;
    color: #808080;
    /* text-indent: 2rem; */
}


/* .fa-light {
    position: absolute;
    top: 3.4rem;
    right: 2rem; */

.fa-sharp {
    position: absolute;
    right: 2rem;
    bottom: -1.7rem;
    top: 3.4rem;
    right: 2rems;
    color: #808080;
}


/* .email-word {
    margin-left: 1rem;
    left: 5rem;
} */


/* .fa-light {
    position: absolute;
    top: 3.4rem;
    left: -1.7rem;
} */

.email-form input {
    text-indent: 1.5rem;
}


/* .InputWithIcon input[type=text] {
     padding-left: 40px;
 }
 
 .InputWithIcon {
     position: relative;
     /* bottom: 2 rem; */


/* margin-top: -50%;
 position: bottom; */


/* .InputWithIcon i {
    position: absolute; */


/* left: 0; */


/* bottom: 100px; */


/* padding: 9px 8px;
    bottom: 2rem;
    margin-top: -50%;
    margin-bottom: 100px; */


/* media query for 59em*/

@media only screen and (max-width: 60em) {
    .row {
        flex-direction: column;
        display: flex;
    }
    .left-container {
        flex: unset;
        display: none;
    }
    .right-container {
        flex: unset;
        width: 100%;
        height: 100%;
    }
    .right-container .column {
        width: 70%;
    }
}

@media only screen and (max-width: 38em) {
    .right-container .column {
        width: 90%;
    }
}